/.idea/.idea.accounting-cards/.idea/.gitignore
/accounting-cards/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/accounting-cards/obj/Debug/net5.0/accounting-cards.AssemblyInfo.cs
/accounting-cards/obj/Debug/net5.0/accounting-cards.AssemblyInfoInputs.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.assets.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.csproj.AssemblyReference.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.csproj.CoreCompileInputs.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.csproj.FileListAbsolute.txt
/accounting-cards/obj/accounting-cards.csproj.nuget.dgspec.json
/accounting-cards/obj/accounting-cards.csproj.nuget.g.props
/accounting-cards/obj/accounting-cards.csproj.nuget.g.targets
/accounting-cards/bin/Debug/net5.0/accounting-cards.deps.json
/accounting-cards/bin/Debug/net5.0/ref/accounting-cards.dll
/accounting-cards/bin/Debug/net5.0/accounting-cards.dll
/accounting-cards/obj/Debug/net5.0/ref/accounting-cards.dll
/accounting-cards/obj/Debug/net5.0/accounting-cards.dll
/accounting-cards/bin/Debug/net5.0/accounting-cards.exe
/accounting-cards/obj/Debug/net5.0/accounting-cards.GeneratedMSBuildEditorConfig.editorconfig
/accounting-cards/obj/Debug/net5.0/accounting-cards.genruntimeconfig.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.MvcApplicationPartsAssemblyInfo.cache
/accounting-cards/obj/Debug/net5.0/accounting-cards.MvcApplicationPartsAssemblyInfo.cs
/accounting-cards/bin/Debug/net5.0/accounting-cards.pdb
/accounting-cards/obj/Debug/net5.0/accounting-cards.pdb
/accounting-cards/obj/Debug/net5.0/accounting-cards.RazorTargetAssemblyInfo.cache
/accounting-cards/bin/Debug/net5.0/accounting-cards.runtimeconfig.dev.json
/accounting-cards/bin/Debug/net5.0/accounting-cards.runtimeconfig.json
/accounting-cards/obj/Debug/net5.0/staticwebassets/accounting-cards.StaticWebAssets.Manifest.cache
/accounting-cards/obj/Debug/net5.0/staticwebassets/accounting-cards.StaticWebAssets.xml
/accounting-cards/obj/Debug/net5.0/apphost.exe
/accounting-cards/bin/Debug/net5.0/appsettings.Development.json
/accounting-cards/bin/Debug/net5.0/appsettings.json
/accounting-cards/bin/Debug/net5.0/Microsoft.OpenApi.dll
/accounting-cards/obj/project.assets.json
/accounting-cards/obj/project.nuget.cache
/accounting-cards/obj/project.packagespec.json
/accounting-cards/obj/rider.project.restore.info
/accounting-cards/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/accounting-cards/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/accounting-cards/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
