<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:-></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap-color.css">

    <style>
        html, #app{
            background: #f0f4f5;
        }
        
        .row{
            height: 90vh;
        }
        
        .text-black-light{
            color: #222;
        }
        
        .display-none-form{
            display: none !important;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="container mt-4">
        <div class="row d-flex justify-content-center align-items-center p-0">
            <div class="col-5">
                <div class="card">
                    <div class="card-header d-flex justify-content-center p-3 bd-yellow-100">
                        <h3 class="mb-0 fw-bold text-black-light">歡迎來到記帳卡片</h3>
                    </div>
                    <div class="card-body p-4">
                        <form class="d-flex flex-column align-items-end" id="form-check">
                            <input type="text" id="account" class="form-control col-12 mb-3" placeholder="請輸入帳號" v-model="user.account">
                            <button type="button" class="btn btn-sm btn-secondary col-2" @click.prevent="postCheck">繼續</button>
                        </form>
                        <form class="d-flex flex-column align-items-end display-none-form" id="form-register">
                            <label for="register" class="col-12">
                                <h5 class="mb-0"><span class="fw-bold">{{user.register.account}}</span>　是你想要使用的帳號嗎?</h5>
                                <p class="form-text">帳號不存在，請確認輸入內容或利用 <span class="fw-bold">{{user.register.account}}</span> 來註冊一個新的帳號</p>
                            </label>
                            <input type="text" id="register-password" class="form-control col-12 mb-3" placeholder="請輸入密碼" v-model="user.register.password">
                            <input type="text" id="register-name" class="form-control col-12 mb-3" placeholder="請輸入暱稱" v-model="user.register.name">
                            <button type="button" class="btn btn-sm btn-secondary col-2" @click.prevent="postRegister">註冊</button>
                        </form>
                        <form class="d-flex flex-column align-items-end display-none-form" id="form-login">
                            <label for="login" class="col-12">
                                <h5 class="mb-0"><span class="fw-bold">{{user.login.account}}</span>　歡迎回來！</h5>
                                <p class="form-text">請繼續登入流程來使用功能</p>
                            </label>
                            <input type="text" id="login-password" class="form-control col-12 mb-3" placeholder="請輸入密碼" v-model="user.login.password">
                            <button type="button" class="btn btn-sm btn-secondary col-2" @click.prevent="postLogin">登入</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>

<script src="js/swal-alert.js"></script>
<script src="js/hash-string.js"></script>

<script>
    const app = Vue.createApp({
        data(){
            return{
                user:{
                    account: "",
                    login:{
                        account: "",
                        password: "",
                    },
                    register:{
                        account: "",
                        password: "",
                        name: "",
                        key: ""
                    }
                }
            }
        },
        methods:{
            postCheck: function () {
                let vm = this;
                let data = {
                    Account: vm.user.account,
                };
                
                axios({
                    method: 'post',
                    url: './api/User/Post/Session',
                    data: data
                }).then(res => {
                    console.log(res.data);
                    vm.user.register.key = res.data.salt
                    let step = res.data.step;
                    let account = res.data.account;
                    switch (step){
                        case 0:
                            vm.user.register.account = account;
                            $('#form-check').addClass('display-none-form');
                            $('#form-register').removeClass('display-none-form');
                            return;
                        case 1:
                            vm.user.login.account = account;
                            $('#form-check').addClass('display-none-form');
                            $('#form-login').removeClass('display-none-form');
                            return;    
                    }
                    // alert_success(res.data, `嗨！${vm.user.login.account}，很高興看到你回來`);
                }).catch(err => {
                    console.log(err.response);
                    // alert_fail(err.response.data, `嘿！${vm.user.login.account}，你可能記錯了帳號或密碼`)
                })
            },
            postRegister: function () {
                let vm = this;
                let data = {
                    Account: vm.user.register.account,
                    Password: toSHA256(vm.user.register.password, vm.user.register.key),
                    Name: vm.user.register.name
                };
                
                axios({
                    method: 'post',
                    url: './api/User/Post/New',
                    data: data
                }).then(res => {
                    alert_success('註冊成功', '感謝你的註冊！重新整理回到登入頁面號馬上開始使用吧', true);
                }).catch(err => {
                    alert_fail(`ERROR：${err.response.status}`, `嘿！${err.response.data}`)
                })
            },
            postLogin: function () {
                let vm = this;
                let data = {
                    Account: vm.user.login.account,
                    Password: toSHA256(vm.user.login.password)
                };

                axios({
                    method: 'post',
                    url: './api/User/Post',
                    data: data
                }).then(res => {
                    alert_success(res.data, `嗨！${vm.user.login.account}，很高興看到你回來`, false);
                }).catch(err => {
                    alert_fail(err.response.data, `嘿！${vm.user.login.account}，你可能記錯了帳號或密碼`)
                })
            },
        },
    });
    app.mount('#app');
</script>
</body>
</html>